	body{
		background-image: url("../images/portfolio-4.jpg");
		background-size: cover;
	}
	.w500{
		width: 500px;
		margin: auto;
		padding: 30px;	
	}
	.txt{
		text-align: center;
	}
	#a1{
		display: inline-block;
		width: 200px;
		margin-left: 100px;
		text-align: center;
	}