@charset "UTF-8";

.overwrap{
   		overflow: hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-line-clamp: 3;
	    -webkit-box-orient: vertical;
	    word-wrap: break-word;
	    line-height: 1.2em;
	    height: 3.6em;
}
 /*
사이드 바 
*/
#wingNavi_ty2{position:fixed;top:0;left:50%;padding-bottom:80px;padding-top:110px;margin-left:570px;width:112px;overflow:hidden;z-index:94;}
#wingNavi_ty2 a{display:block;margin:0 0 10px;}#wingNavi_ty2 a img{vertical-align:top;}#wingNavi_ty2 .btn_gotop{margin:0;}
.hayley{list-style-type:none;}   	
  